/* shared code */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

.primary-btn {
    background-color: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 5px;
}

.primary-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* nav section styles */
header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav li a {
    text-decoration: none;
    color: #181818;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

/* banner section */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-img {
    width: 500px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin: 0px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    margin: 0;

}

.banner-content {
    max-width: 500px;
}

/* main section general code */
main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #fff4ec;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.what-i-do-des {
    padding: 0px 130px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.what-i-do-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}